body{
    background: #36342c;
}
html{
    scroll-behavior: smooth;
}
form{
    width: 250px;
    height: 350px;
    border: 2px solid #44bd32;
    border-radius: 20px;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 70px;
    
}
h1{
    font-size: 29px;
    color: aquamarine;
}

input[type="text"],input[type="password"]{
    width: 210px;
    border: 2px solid #b4bd32;
    border-radius: 15px;
    outline: none;
    padding: 15px;
    background: transparent;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input[type="submit"]{
    margin-top: 10px;
    outline: none;
    border-radius: 15px;
    width: 150px;
    background: linear-gradient(#32bdaa,#7a8029);
    font-size: 20px;
    color: rgb(235, 200, 157);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     border: none;
     cursor: pointer;
    


}
p{
    font-size: 12px;
    color: azure;
    margin-top: 21px;
}
.signin p{
   font-size: 20px;
   color: #fff;
   margin-top: 10px;
}
a{
    color: beige;
    font-size: 20px;
    text-decoration: none;

}
